<!-- 文档声明，声明html页面的版本的，该声明表示文档是一个h5的页面 -->
<!doctype html>

<!-- html是网页的根标签，网页中所有内容都要写到html标签中，一个页面中只能有一个html标签 -->
<html>
    
    <!-- head中的内容不会在页面中显示，它用来告诉浏览器如何解析网页 -->
    <head>
        <!-- title用来设置整个网页的标题（主要内容） 
            搜索引擎在检索一个网页时，将会最先检索title中的内容，注意title中的内容不要太长，尽量在25个文字左右
        -->
        <title>这是一个网页</title>
    
        <!-- 这个标签用来设置页面的编码字符集 -->
        <meta charset="utf-8" />

    </head>
    
    <!-- body是网页的主体，网页中所有可见的内容都要编写到body中 -->
    <!-- 即使网页编写的不符合规范，浏览器也会尽最大的努力正确的解析页面 -->
    <body>
        
        <!-- 常用的标签 -->
        <!-- 标题标签 -->
        <!-- 在html中一共有六级标题标签，h1~h6 h1最大，h6最小 ，但是我们并不关心它的显示大小
            h1~h6叫语义化标签，h1表示一级标题，它的重要性仅次于title，对于搜索引擎检索是很重要
            注意，一般情况下一个页面中只能有一个h1
            h1以后的标题标签重要性越来越低，一般我们使用标题就到h3 h3以后的很少用
        -->
        <h1>一级标题</h1>
        <h2>二级标题</h2>
        <h3>二级标题</h3>
        <h4>二级标题</h4>
        <h5>二级标题</h5>
        <h6>二级标题</h6>

        
        <!-- 段落标签
            p标签标示的是一个段落，它里面的内容，会单独占一行
            并且它会默认在段落的前后各加一个换行
        -->
        <p>今天天气好晴朗，处处好风光！</p>
        <p>解放东京，活捉苍井空</p>
        <p>解放台湾，活捉林志玲</p>
            
        
        <!-- 在HTML中，多个连续的空格或者是换行，浏览器只会解析成一个空格 
            换行时需要使用标签来操作
        -->
        锄禾日当午，<br /><br />
        汗滴禾下土，<br /><br />
        谁知盘中餐，<br /><br />
        粒粒皆辛苦。
        
        
        <!--
            水平线 
            hr标签可以在页面中的指定位置，输出一条水平线
        -->
        <hr />
        
        <!-- 在HTML中一些特殊符号是不能直接编写的比如小于号 大于号不能和字母一块
            我们需要使用转义字符（实体）来表示这些特殊符号
            实体的语法：
                &实体的名字;
            小于号：
                &lt;
            大于号:
                &gt;
            空格：
                &nbsp;
            版权声明：
                &copy;

        -->
        a&lt;b&gt;c
        
        <hr />
        粒粒&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;皆辛苦
        
        <hr />
        版权声明：&copy;
        
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    
    </body>

</html>
